{% extends 'base.html' %}
{% block content %}

  <!-- Header-->
  <header >
    <div class="container">
        <div class="userprofile">
            <h1>User Profile 🧑🏻‍💼 </h1>
            
        </div>
    </div>
</header>

    <div class="'container">
        <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br/> <br/>
                    <br/><br/>
                    <form method = "POST" action="{% url 'update_user' %}">
                            <!-- Cross Site Request Forgery - value will change for every time we login   -->
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        <br/> 
                        <button type="submit" class="btn btn-secondary"> Update profile </button>
                    </form>
                    <br/>
                    <i>If you want to update your password, please click on <a href="{% url 'update_password' %}"> Update Password</a></i>
                    <br/> <br>
                </div>
           
        </div>
    </div>
{% endblock %}